<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../javascript/jquery.js"></script>
    <script type="text/javascript" src="../javascript/jquery.form.js"></script>
</head>
<body>
    <h1>Index</h1>
    <form action="/login" method="post">
        <p>Name: <input name="name"></p>
        <p>Password: <input name="password" type="password"></p>
        <p><input type="submit" value="Submit" id="btn"></p>
     </form>
</body>
<script type="text/javascript">
    $("#btn").on("click",function(){
        $("#form1").submit();
    })
</script>
</html>